.Nav_wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 393px;
    max-width: 393px;
    height: 100px;
    background-color: var(--white);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 35px;

    >div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 308px;
    }
}

.Main_footer_wrap {
    background-color: var(--gray02);
    padding: 30px;
    padding-bottom: 130px;

    p {
        font-size: 9.2px;
        color: var(--gray03);
        margin-bottom: 7px;
    }

    .name {
        font-weight: 500;
        color: var(--gray04);
    }

    .msg {
        color: var(--gray04);
    }
}